[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
groq = "*"
langchain = "*"
langchain-groq = "*"
langchain-anthropic = "*"
python-dotenv = "*"
requests = "*"
scipy = "*"
pipenv = "*"

[requires]
python_version = "3.9"
